# ignore these files and directories in backend to push in github

# ignore detectron2 repository
detectron2

#output folder
output_directory

#launch.json folder
.vscode

__pycache__

# ignore to upload extracted dataset
/backend/data/
#ignore result vieo
predicted_result.mp4

#jupyter notbook checkpoints
.ipynb_checkpoints

.pytest_cache
