# ignore these files and directories in backend to push in github

# ignore detectron2 repository
detectron2


#launch.json folder
.vscode

# ignore to upload extracted dataset
/backend/data/

#output folder
output_directory
__pycache__
env1
#jupyter notbook checkpoints
.ipynb_checkpoints

.pytest_cache
